*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear:after{
    content: "";
    display: block;
    clear: both;
}

body, html{
    line-height: 1.6;
}

html{
    min-height: 100%;
    position: relative;
}

hr{
    margin: 10px 0;
}

h2{
    margin-top: 15px;
}

div.nav-bar{
    height: 2em;
    background-color: #e1518d;
    border-bottom: 1px solid #e1e1e1;
    min-width: 100%;
    display: flex;
}

ul.align-left{
    width: 62%;
/*    margin: 0 auto;*/
    margin: 0 auto;
    margin-right: 0;
    margin-left: 1em;
    line-height: 2em;
/*    text-align: center;*/
}

div.nav-bar > ul > li > a{
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 0.73em;
}

ul.align-left li{
    margin-left: 0.5em;
    margin-right: 0.5em;
}

div.insta-icon{
    margin: 0 auto;
/*    margin-left: 2.8em;*/
    margin-right: 1em;
    line-height: 2em;
    
}

div.insta-icon a{
    text-decoration: none;
    color: #fff;
    font-size: 0.8em;
}

div.insta-icon span{
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}


li.nav-list{
    list-style-type: none;
    display: inline;
/*
    margin-right: 0.3em;
    margin-left: 0.6em;
*/
}


.wrapper{
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

/*
section.row{
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
}


div.column{
    flex: 1;
    display: block;
    min-width: 100%;
}
*/

div.mainImageBox img{
    width: 100%;
    height: 100%;
    position: static;
    display: block;
}

div.mainImageBox{
    position: relative;
}

.content{
    background-image: url(../img/home-image.PNG);
    background-size: 100% 64%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    height: 55vh;
    position: relative;
}



div.pageTitle{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.pageTitle > h1{
    font-family: 'Shadows Into Light Two', cursive;
    color: rgba(0,0,0,0.6);
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 1.6em;
    text-align: center;
    margin-top: 0;
}

div.beijing-bg h1{
    color: #fff;
}

.about-beijing{
    width: 100%;
    background-color: #f8f8f8;
    padding: 45px 30px 25px;
    margin-right: 0;
    margin-left: 0;
}

cite{
    display: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    color: #000;
}



/*
 *
 *About
 * 
*/


.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.about{
    width: 100%;
    background-color: #f8f8f8;
    padding: 45px 30px 25px;
    margin-right: 0;
    margin-left: 0;
}

.fadein{
    width: 100%;
    height: 70vh;
    overflow: hidden;
    margin: 0 auto 25px;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.fadein img{
    width: 100%;
    height: 70vh;
    max-height: 70vh;
    position: absolute;
    left: 0;
    top: 0;
}

div.rabbit > h2{
    text-align: center;
    font-family: 'Shadows Into Light Two', cursive;
    color: #e1518d;
    margin: 0 0 20px;
}

div.separator{
    border-color: #e7e6e6;
    border-top: 1px solid;
    width: 100%;
    height: 0.3px;
    margin: 25px auto;
}

div.rabbit p {
    color: #747474;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

div.button-wrapper{
    display: block;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

div.button-wrapper > a{
    text-decoration: none;
    background-image: linear-gradient(to top,#aad75d,#d1e990);  
    color: #54770f;
    padding: 15px 25px;
    border: 1px solid #9dba60;
}

/*
 *
 * Destinations
 *
*/


.destinations{
    width: 100%;
    background-color: #fff;
    padding: 0 30px 25px;
}

div.title-destinations{
    width: 100%;
    display: flex;
    
}

div.title-destinations > h2{
    font-size: 24px;
    font-family: 'Shadows Into Light Two', cursive;
    color: #e1518d;
    margin-right: 0.5em
}

div.container-fluid{
    width: 100%;
}

div.homeimg img{
    width: 100%;
/*
    height: 50vh;
    max-height: 50vh;
*/
    margin-bottom: 0;
}

.overlay h2{
    font-family: 'Cardo', serif;
    color: #8B008B;
}


div.row div{
    padding: 0;
}


/*
 *
 * Back to Top Button
 *
 */

#myBtn {
  display: none;
  position: fixed;
  bottom: 52px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #e1518d;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myBtn i{
    font-size: 2em;
}

/*
 *
 * Footer
 *
*/

div.footer{
    width: 100%;
    background-image: linear-gradient(to top,#9db600,#f1e990); 
    height: 50px;
    letter-spacing: 0.1em;
    color: #000;
/*    line-height: 50px;*/
/*
    position: absolute;
    bottom: 0;
    left: 0;
*/
}

div.social-media{
    width: 100%;
    text-align: center;
    font-family: 'Shadows Into Light Two', cursive;
/*    font-size: 1.2em;*/
}
div.social-media span{
    margin-bottom: 0;
    font-weight: 700;
    font-size: 1.2em;
    line-height: 1.5em;
}

div.social-media a{
    color: #000;
    text-decoration: none;
}

div.icon{
    text-align: center;
}

div.icon i{
    font-size: 1.3em;
/*    height: 1.4em;*/
/*    line-height: 1.4em;*/
    font-weight: 500;
}

div.icon a{
    color: #000;
    text-decoration: none;
}

div.icon span{
/*    font-family: 'Shadows Into Light Two', cursive;*/
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}


/*
 *
 * About page
 *
 */

main.about-wrapper{
    height: 100%;
}

#about-cite{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    color: #fff;
}

div.about-banner{
    background-image: url(../img/world-travel.jpg);
    max-width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

div.about-bg-color{
    background: linear-gradient(to top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    z-index: 2;
    width: 100%;
    height: 100%;
    position: relative;
}

div.about-text{
    color: #fff;
    font-family: 'Cardo', serif;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.about-text h1{
    font-size: 4em;
}

div.about-rabbit{
    width: 100%;
    background-color: #f8f8f8;
    padding: 20px 15px 0;
    margin-right: 0;
    margin-left: 0;
    margin-top: 1em;
/*    margin-bottom: 4em;*/
}

/*
.selfie-rabbit{
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    width: 100%;
    height: 23em;
}
*/

.me{
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    color: #747474;
    font-weight: 500;
    font-size: 1em;
}

.me li{
    list-style-type: none;
}


#pinkish{
    color: #e1518c;
}

/*
 *
 * City Wrapper
 *
*/

div.city-wrapper,
div.about-wrapper{
    background-color: #f8f8f8;
    width: 100%;
    margin: 0 auto;
}



/*
 *
 * Cities
 *
 */

.col-xs-12{
/*    float: none;*/
    padding-left: 0;
    padding-right: 0;
}

.cityimg,
.selfie-rabbit,
.siblings{
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    height: 25em;
}

div.title-beijing,
div.title-hawaii,
div.title-hongkong,
div.title-indonesia,
div.title-japan,
div.title-malaysia,
div.title-singapore,
div.title-philippines,
div.title-usa{
    text-align: center;
    font-family: 'Cardo', serif;
    color: #8B008B;
}

div.forbidden-city,
div.great-wall,
div.summer-palace,
div.oahu,
div.honolulu,
div.disneyland,
div.victoria-harbour,
div.tsimshatsui,
div.danau-beratan,
div.ulun-danu-temple,
div.uluwatu,
div.mount-fuji,
div.fushimi-inari,
div.kinkakuji,
div.petronas-tower,
div.kota-kinabalu,
div.genting,
div.sentosa,
div.gardens-by-the-bay,
div.fort-canning-park,
div.boracay,
div.puerto-galera,
div.puerto-princesa,
div.golden-gate,
div.central-park,
div.balboa-park{
    width: 100%;
    background-color: #f8f8f8;
    padding: 20px 15px 1em;
    margin-right: 0;
    margin-left: 0;
}
div.city-description{
    width: 90%;
    margin: 0 auto;
    float: none;
}

div.forbidden-city h2,
div.great-wall h2,
div.summer-palace h2,
div.oahu h2,
div.honolulu h2,
div.disneyland h2,
div.victoria-harbour h2,
div.tsimshatsui h2,
div.danau-beratan h2,
div.ulun-danu-temple h2,
div.uluwatu h2,
div.mount-fuji h2,
div.fushimi-inari h2,
div.kinkakuji h2,
div.petronas-tower h2,
div.kota-kinabalu h2,
div.genting h2,
div.sentosa h2,
div.gardens-by-the-bay h2,
div.fort-canning-park h2,
div.boracay h2,
div.puerto-galera h2,
div.puerto-princesa h2,
div.golden-gate h2,
div.central-park h2,
div.balboa-park h2{
    color: #8B008B;
    font-family: 'Cardo', serif;
    font-size: 2em;
    margin-top: 0;
}

div.forbidden-city p,
div.great-wall p,
div.summer-palace p,
div.oahu p,
div.honolulu p,
div.disneyland p,
div.victoria-harbour p,
div.tsimshatsui p,
div.danau-beratan p,
div.ulun-danu-temple p,
div.uluwatu p,
div.mount-fuji p,
div.fushimi-inari p,
div.kinkakuji p,
div.petronas-tower p,
div.kota-kinabalu p,
div.genting p,
div.sentosa p,
div.gardens-by-the-bay p,
div.fort-canning-park p,
div.boracay p,
div.puerto-galera p,
div.puerto-princesa p,
div.golden-gate p,
div.central-park p,
div.balboa-park p{
    font-family: 'Raleway', sans-serif;
    color: #747474;
    text-align: justify;
    font-size: 1.1em;
}

/*
 *
 * Mobile
 *
 */

@media only screen
    and (min-width: 400px)
    and (max-width: 480px){
    
        .content{
            background-size: 100% 74%;
            height: 65vh;
        }
        
        div.homeimg img{
            max-width: 100%;
        }
        
        ul.align-left{
            width: 50%;
            /*    margin: 0 auto;*/
            margin: 0 2em;
            line-height: 2em;
            text-align: center;
        }
        
        #myBtn{
            display: none;
        }
        
        /* Footer */
        
        div.insta-icon{
            margin: 0 auto;
            line-height: 2em;
        }

        div.insta-icon a{
            text-decoration: none;
            color: #fff;
        }

        div.insta-icon span{
            font-family: 'Raleway', sans-serif;
        }
        
         
        .col-xs-12{
            float: none;
        }
        
        /*
         *
         * About page
         *
         */
        .me{
            font-size: 1em;
        }
        
}

/*
 *
 * Tablet
 *
 */

@media only screen
    and (min-width: 481px)
    and (min-width: 737px)
    and (max-width: 768px)
{
        
        div.nav-bar{
            height: 2em;
        }
        
        div.nav-bar > ul > li a{
            font-size: 1em;
        }
        
        ul.align-left{
            line-height: 2em;
            margin-left: 1em;
            text-align: left;
        }
        
        div.insta-icon{
            font-size: 1.6em;
            line-height: 1em;
        }
        
        .content{
            background-image: url(../img/home-image.PNG);
            background-size: 100% 83%;
            background-repeat: no-repeat;
            background-attachment: fixed;
            position: relative;
            width: 100%;
            height: 65vh;
            position: relative;
        }
        
        cite{
            display: block;
            font-size: 2.2em;
            text-align: center;
            font-weight: 500;
        }
        
        div.pageTitle{
            padding-top: 10px;
        }
        
        div.pageTitle > h1{
            font-size: 4.3em;
        }
    
        div.homeimg img{
            height: 30vh;
            max-height: 30vh;
        }
        
        div.rabbit h2{
            font-size: 4em;
        }
        
        div.rabbit p{
            font-size: 1.7em;
        }
        
        div.title-destinations h2{
            font-size: 2.5em;
        }
    
       
        
        div.footer{
            height: 8em;
        }
        
        div.social-media{
            line-height: 3.4em;
        }
        
        div.social-media p{
            font-size: 2.6em;
            font-weight: 700;
            
        }
        
        div.icon{
/*            font-size: 2em;*/
            font-weight: 600;
        }
        
        div.icon a{
            font-size: 2em;
        }
        
        div.icon span{
            font-size: 2em;
        }
        
        /*
         *
         * About
         *
         */
        
    div.about-rabbit{
/*        margin-bottom: 8em;*/
    }
    
    div.about-text h1{
        font-size: 7em;
    }
    
    .me{
        width: 47%;
        margin-left: 1.9em;
        margin-top: 0;
        font-size: 1.2em;
    }
    img.siblings{
        width: 100%;
    }
    
    .selfie-rabbit{
        width: 48%;
    }
    
        /*
         *
         * Beijing
         *
         */
        
        div.container-fluid{
            width: 90%;
            margin-bottom: 10px;
        }
        
        div.city-description{
            width: 48%; 
            margin: 0;
            float: left;
            margin-right: 0.9em;
        }

        .col-sm-4{
            width: 30.333333%;
            margin-left: 1em;
        }
        
        
        
}


@media only screen
    and (min-width: 567px)
    and (max-width: 736px)
    and (orientation: landscape){
        div.pageTitle > h1{
            font-size: 3em;
        }
        cite{
            display: none;
        }
        
        .fadein{
            width: 95%;
            float: none;
        }
        
        .rabbit{
            width: 90%;
            float: none;
            margin: 0 auto;
        }
        
        div.homeimg{
            width: 70%;
            float: none;
            margin: 0 auto;
        }
        
        div.homeimg img{
/*
            height: 80vh;
            max-height: 80vh;
*/
        }
        
        /*
         *
         * About page
         *
         */
        
        .me{
            font-size: 1.2em;
        }
}


/*
 *
 * Desktop
 *
 */

@media only screen 
    and (min-width: 769px){
        
        hr{
            display: none;
        }
        
        div.nav-bar{
            height: 3em;
        }
        
        div.nav-bar > ul > li a{
            font-size: 1.3em;
        }
        
        ul.align-left{
            line-height: 3em;
            margin-left: 2em;
        }
        
        div.pageTitle{
            padding-left: 5em;
            padding-right: 5em;
        }
        
        div.pageTitle h1{
            font-size: 5em;
        }
        
        
        cite{
            display: block;
            font-size: 2.2em;
            text-align: center;
            font-weight: 500;
        }
        
        .fadein{
            width: 65%;
            height: 71vh;
        }
        
        .rabbit{
            margin-left: 1.1em;
        }
        
        .rabbit > h2{
            font-size: 4.6em;
        }
        
        .rabbit p {
            font-size: 1.6em;
            margin-bottom: 0;
        }
        
        div.title-destinations > h2{
            font-size: 40px;
        }
        
        div.separator{
            margin-top: 35px;
        }
        
        
        div.homeimg img{
            width: 90%;
            height: 40vh;
            margin: 1em;
            transition: transform 0.45s ease;
            z-index: -1;
        }
        
        /* TESTING */
        
        div.homeimg{
            position: relative;
            overflow: hidden;
        }
        
        .overlay{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(to top,#aad75d,#d1e990);
            opacity: 0;
        }
        
        .overlay h2{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;
            font-family: 'Raleway', sans-serif;
            font-size: 3em;
            font-weight: 600;
            color: #54770f;
        }
        
        div.homeimg:hover .overlay{
            opacity: 0.4;
            text-align: center;
            color: #54770f;
            border-radius: 5px;
            z-index: 2;
            
        }
        
        div.homeimg:hover img{
            transform: scale(1.5);
        }
        
        /* END OF TESTING */
        
        
        div.button-wrapper > a{
            padding: 20px 35px;
            font-size: 1.5em;
        }
        
        div.button-wrapper{
            margin-top: 1em;
            height: 5em;
            line-height: 5em;
        }
        
        div.insta-icon{
            font-size: 1.5em;
            line-height: 2em;
            margin-right: 1.5em;
        }       
        
        /*
         *
         * About Page
         *
         */
        div.about-rabbit{
/*        margin-bottom: 4em;*/
        }
        
        div.about-text h1{
            font-size: 6em;
        }

        .me{
            width: 47%;
            margin-left: 2em;
            margin-top: 0;
            font-size: 1.2em;
        }
        img.siblings{
            width: 100%;
        }

        .selfie-rabbit{
            width: 48%;
        }
        
        
        /*
         *
         * Beijing
         *
         */
        
        div.container-fluid{
            width: 90%;
            margin-bottom: 10px;
        }
        
        div.city-description{
            width: 48%;   
            float: left;
            margin-right: 1em;
        }
/*
        div.container-fluid img{
            width: 50%;
            height: 50vh;
            margin: 0;
            padding-right: 0;
        }
*/
        .beijingimg{
            width: 50%;
            height: 50vh;
            margin: 0;
            padding-right: 0;
        }
}

@media only screen
    and (min-width: 1024px){
        
        .content{
            background-image: url(../img/home-image.PNG);
            background-size: 100% 93%;
            background-repeat: no-repeat;
            background-attachment: fixed;
            position: relative;
            width: 100%;
            height: 78vh;
            position: relative;
        }
        
        .rabbit h2{
            margin-top: 0;
        }
        
        
        div.homeimg img{
            width: 100%;
            height: 30vh;
        }
        
        .col-md-4{
            width: 31.5%;
            margin: 0.5em;
        }
        
        .row{
            width: 100%;
            margin: 0 auto;
            margin-left: 0.5em;
        }
        
        .fadein{
            width: 65%;
            height: 100vh;
        }
        .fadein img{
            height: 100%;
            max-height: 100%;
        }
        
        /*
        *
        * About
        *
        */
        
        .selfie-rabbit,
        .siblings{
            height: 30em;
        }
        .selfie-rabbit{
            width: 50%;
        }
        .me{
            width: 45%;
            margin-left: 2em;
        }
}
        